@import './base.scss';

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .login-item {
        width: 50%;
    }

    .login-left {
        background: var(--color-primary);
        height: 100vh;
    }

    .login-right {
        display: flex;
        align-items: center;
        flex-direction: column;

        .avt {
            height: 50px;
            width: 50px;
        }

        .title {
            font-weight: 400;
        }

        .form {
            width: 400px;
            max-width: 100%;
        }
    }
}
