<div class="login">
    <div class="login-item login-left">

    </div>
    <div class="login-item login-right">
        <div class="avt">
        </div>
        <h2 class="title">Admin login</h2>
        <form action="/login" method="post" class="form">
            <div class="form-control">
                <input class="input" type="text" placeholder=""/>
                <span class="input-label">Username</span>
            </div>
            <div class="form-control">

                <input class="input" type="text" placeholder="" />
                <span class="input-label">Password</span>
            </div>
            <button class="btn-submit">Login</button>
        </form>
    </div>
</div>