:root {
  --color-primary: #375dc2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login .login-item {
  width: 50%;
}
.login .login-left {
  background: var(--color-primary);
  height: 100vh;
}
.login .login-right {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.login .login-right .avt {
  height: 50px;
  width: 50px;
}
.login .login-right .title {
  font-weight: 400;
}
.login .login-right .form {
  width: 400px;
  max-width: 100%;
}
