<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="assets/css/{{style}}.css">
    <script defer src="assets/js/login.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>